# Rust build artifacts
/target

# Backup / swap files
**/*.rs.bk
*.swp
*.swo

# macOS
.DS_Store

# Editor/IDE
.idea/
.vscode/

# Local sample files for trying out new language support
/assets/samples/
